.split-container__vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex: 1;
}

.split-container__horizontal {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex: 1;
}

.split-container__vertical .resizer {
  cursor: row-resize;
}

.split-container__horizontal .resizer {
  cursor: col-resize;
}

.first {
  will-change: height;
}

.second {
  flex: 1;
  flex-basis: 0;
  overflow: hidden;
}
